.jumbotron.contact {
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 14rem;
    border-radius: 0;
    max-height: 120px;
    margin-bottom: 6rem;
}

.bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
    background-image: url('../img/contact.png');
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.jumbotron.contact-form {
    background-color: #fff;
    width: 1225px;
    height: 550px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

label {
    color: #BDBDBD;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

footer {
    padding-bottom: 0;
}

body{background: #e5e5e5 !important;}