 .container,
 #contact-half,
 .jumbotron {
     height: auto;
 }

 .jumbotron.contact {
     text-align: left;
     padding-top: 3rem;
     padding-bottom: 14rem;
     border-radius: 0;
     max-height: 120px;
     margin-bottom: 6rem;
 }

 .bg-cover {
     background-size: cover;
     color: white;
     background-position: center center;
     position: relative;
     z-index: -2;
     background-image: url('../img/contact.png');
 }

 .overlay {
     background-color: #000;
     opacity: 0.5;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
 }

 .jumbotron.contact-form {
     background-color: #fff;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
     border-radius: 5px;
     position: relative;
 }

 .sendmail {
     position: absolute;
     top: 0;
     right: 0;
 }

 #contact-message {
     width: 95%;
     height: 140px;
     border: 0;
     border-bottom: 2px solid #bdbdbd;
 
     
 }

 label {
     color: #BDBDBD;
 }

 input[type=text] {
     background: transparent;
     border: none;
     border-bottom: 1px solid #BDBDBD;
 }

 .contact-info {
     padding-left: 2em;
     color: #ffffff;
 }

 .contact-info h4 {
     position: relative;
 }

 #contact-right p {
     font-weight: 100;
     padding: 0 0 0 2em;
     margin: 0;
     font-size: .8em;
     padding-top: 2em;
 }

 #contact-right h3 {
     margin-left: 0;
     text-align: center;
     font-weight: 300;
     color: #ffffff;
 }

 #contact-left h3.text-left {
     margin-bottom: 1.3em;
 }

 #contact-half {
     background: linear-gradient( to right, #ffffff 0%, #ffffff 50%, #ffffff 57%, #2196F3 57%, #2196F3 100%);
 }

 .social-media {
     position: absolute;
     bottom: 0;
     right: 16%;
     margin-left: -0.9em;
 }

 .social-media>i.fa {
     color: #ffffff !important;
     padding: 0 .6em;
     cursor: pointer;
     font-size: 1.7em;
 }

 .contact-icon {
     position: absolute;
     left: 100px;
 }

 .location {
     top: 40px;
 }

 .phone {
     top: 121px;
 }

 .mail {
     top: 200px;
 }


 .send-button {
     position: absolute;
     bottom: 0;
     right: -28px;
     border-radius: 50%;
     border: none;
     height: 60px;
     width: 60px;
     background: #2196F3;
     cursor: pointer;
 }

 .send-button img {
     width: 60%;
 }

 /* mobile first approach */

 @media (max-width: 768px) {
     #contact-half {
         background: linear-gradient( to bottom, #ffffff 0%, #ffffff 64%, #2196F3 64%, #2196F3 100%);
     }
     .contact-info {
         padding-right: .2em;
         padding-left: 3em;
     }
     #contact-form {
         margin-bottom: 7em;
     }
     .contact-icon {
         left: 60px;
     }
    
     .phone {
         top: 140px;
     }
     .mail {
         top: 220px;
     }
     .send-button {
         bottom: 120px;
     }
     .sendmail {
         right: 15px;
     }

     .send-button {
         right: 2px;
     }
 }

 @media (min-width: 768px) {
     .contact-info {
         margin-left: 6.0em;
     }
     #contact-right p {
         padding-left: 0;
     }
 }

 @media (max-width: 768px) {
     .social-media {
         display: none;
     }
     .contact-info {
         max-width: 310px;
         padding-left: 5em;
         padding-top: 0;
     }
 }

 @media (min-width: 768px) and (max-width: 990px) {
     #contact-right h3 {
         text-align: right;
     }
     .contact-info {
         padding-left: 1em;
         padding-top: 0;
     }
     .phone {
         top: 145px;
     }
     .mail {
         top: 225px;
     }
 }

 @media (min-width: 1200px) {
     .contact-info {
         margin-left: 8.4em;
         width: 70%;
         max-width: 300px;
     }
     .contact-icon {
         left: 152px;
     }
 }