.copyleft { 
    float: left;
}
.tear {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 0 50%;
  border: 3px solid #ffffff;
  transform: rotate(45deg);
  background:#ffffff;
  text-align:center;
}
.smImg{
	width:200px;
}

.btnimg{
		margin-top: 448px;
		background-color: #ffffff;
		border-radius: 50px;
		color: #48BBFC;
		margin-left: 100px;
		width: 180px;
		height: 39px;
		font-weight: 700;
	}
	.head1{
		sstop: -70px;
	}
	
	.headImg{
		background-image: url('../img/hngimg.jpg'); 
		background-repeat: no-repeat center; 
		background-size:cover; 
		height: 500px;"
		text-align:center;
		
	}
	.oralImg{
		background-image: url('../img/overlay7.jpg'); 
		background-repeat: no-repeat center; 
		background-size:cover; 
		height: 500px;"
		
	}
	.figmaImg{
		background-image: url('../img/figma-overlay.jpg'); 
		background-repeat: no-repeat center; 
		background-size:cover; 
		height: 500px;"
		
	}
	
	.bluechipImg{
		background-image: url('../img/overlay0.jpg'); 
		background-repeat: no-repeat center; 
		background-size:cover; 
		height: 500px;"
		
	}
	
	.headTxt{
		color: #ffffff;
		font-size: 330px;
		font-weight: 700;
		margin-top: 60px;
	}
	.head2{
		top: -50px;
	}
	
	hr.style1{
		border-top: 1px solid #8c8b8b;
	}
	
	.cont1{
		padding-top: 20px;
		padding-left: 10px;
		padding-bottom: 10px;
		background-color: #ffffff;
		width: 100%;
		font-size: 14px;
		
	}
	
	.bder{
		border: 0;
		 color: #212529;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

	}
	
	h1,
h2,
h3,
h4,
h5,
h6 {
  dfont-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
	
	.cont{
		
		padding-right: 20px;
		padding-left: 20px;
		background-color: #ffffff;
		width: 100%;
		
	}
	
	 ul {
	  list-style: none; /* no default bullets */
		}

	.listStyle  li { 
	  
	  text-align: justify;
	}

	
	.listStyle li:before { /* the custom styled bullets */
	  background-color: #2196F3;
	  border-radius: 50%;
	  content: "";
	  display: inline-block;
	  margin-right: 20px;
	  margin-bottom: 2px;
	  height: 10px;
	  width: 10px;
	}
	
	.copyleft { 
    float: left;
}
.tear {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 0 50%;
  border: 3px solid #ffffff;
  transform: rotate(45deg);
  background:#ffffff;
  text-align:center;
}
	
	/* MEDIA QUERIES */
	
	@media(max-width:1200px){
		
	}
	@media(max-width:991px){
		
	}
	@media(min-width:768px) and (max-width: 990px){
		.headImg{
			swidth: 390px;
		}
	
	}
	@media(max-width:768px){
		.headImg{
			swidth: 390px;
		}
		.headTxt{
			text-align: center;
			color: #ffffff;
			font-size: 330px;
			font-weight: 700;
			margin-top: -400px;
		}
		

	
	}
	@media(max-width:500px){
		.headTxt{
			text-align: center;
			color: #ffffff;
			font-size: 330px;
			font-weight: 700;
			margin-top: -400px;
		}
		.btnimg{
			margin-top: 442px;
			background-color: #ffffff;
			border-radius: 50px;
			color: #48BBFC;
			margin-left: 30px;
			width: 180px;
			height: 39px;
			font-weight: 700;
		}
		
	}
	
	
