.head {
 height: 100%;
 position: absolute;
 background-color: #2196F3;
 width: 350px;
 float: left;
 margin: 0px;
 border: 0px;
 padding: 0px;
 top: 0px;
 left: 0px;
 bottom: 0px;
}



.logo1 {
    position: absolute;
    margin: 50px;
    top: 170px;
    color: white;
    font-style: Bold;
    font-size: 100px;
    line-height: 120px;
    right: 35%;
    }

    .logo2 {
        position: absolute;
        margin: 50px;
        top: 195px;
        color: white;
        font-style: Bold;
        font-size: 60px;
        line-height: 49px;
        left: 40%;
    }

        .logo3 {
            position: absolute;
            margin: 50px;
            top: 230px;
            color: white;
            font-style: Bold;
            font-size: 23px;
            line-height: 49px;
            left: 40%;
            }

.content {
    position: relative;
    
}
.head1 {
    font-family: Arial, Helvetica, sans-serif;
font-style: Bold;
font-size: 30px;
line-height: 49px;
text-align: center;
fill: Solid #000000;
color: #2196F3;
}

button {
    color: white;
    background-color: #2196F3;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    left: 30%;
    top: 200px;
position: absolute;
 
}

p {
    font-family: Arial, Helvetica, sans-serif;
font-style: regular;
font-size: 20px;
line-height: 34px;
left: 30%;
position: absolute;
}

div1 {
    position: relative;
}

.bottom {
    font-family: Arial, Helvetica, sans-serif;
    font-style: regular;
    font-size: 20px;
    line-height: 34px;
    left: 30%;
    position: absolute;
    top: 300px

}
.bottom1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: regular;
    font-size: 20px;
    line-height: 34px;
    left: 30%;
    position: absolute;
    top: 350px;

}

.line {
    color: #2196F3;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: regular;
    font-size: 20px;
    line-height: 34px;
    left: 30%;
    width: 58%;
    position: absolute;
    top: 500px;
}

.bottom2 {
    color: #2196F3;
    font-family: Arial, Helvetica, sans-serif;
    font-style: regular;
    font-size: 20px;
    line-height: 34px;
    left: 47%;
    position: absolute;
    top: 500px;
}

a:visited {
    color: #2196F3;
}

a {
    color: #2196F3;
}
