body {
    background-color: #ffffff;
    }
    
    .head{
        font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    font-size: 42px;
    line-height: 49px;
    text-align: Center;
    fill: #3D3D3D  Solid;
    }
    
    .text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: Center;
    fill: Solid #173857;
    margin-top: 0.5%;
    margin-bottom: 1.2%;
    }
    
    .input {
        Stroke: Solid;
    text-align: left;
    width: 30%;
    height: 15%;
    align-self: center;
    position: relative;
    left: 33%;
    color: #BDBDBD;
    margin-top: 6%;
    padding: 1.8%;
    }
    
    
    
    .btn1 {
        font-family: Nunito Sans;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #2196F3;
    width: 34%;
    position: absolute;
    left: 33%;
    margin-top: 4%;
    padding: 1.2%;
    color: #ffffff;
    }
    
    .note {
    position: absolute;
    left: 40%;
    margin-top: 8%;
    padding: 1.2%;
    line-height: 20px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    }
    
    a:visited {
        color: #2196F3;
    }