
#container {
	padding: 10px;
	border: 1px solid rgba(85, 83, 83, 0.7);
	border-radius: 30px 0 30px 0;
	background-color: rgba(85, 83, 83, 0.1);
	box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
}

.col-md-4 {
	border: 1px solid rgba(68, 58, 58, 0.5);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

h2 {
	text-align: center;
	color: rgb(34, 33, 33);
}

.card-body {
	height: 500px;
}

.rounded-circle {
	object-fit: cover;
}

/* NAVBAR HEADER */
#navbar {
	margin-left: 10px !important;
}

.navbar-brand {
	width: 300px !important;
}

.navbar-logo {
	height: 40px !important;
	width: auto !important;
}

/* FOOTER */
footer {
	margin-top: 50px !important;
}

.footer-li {
	border-right: 1px solid #3D3D3D !important;
	margin-right: 0 !important;
}

.footer-li:last-child {
	border: none !important;
}

i {
	color: #3D3D3D !important;
}

.copyright {
	text-align: center;
}

button.home-signup {
	height: 72px !important;
	width: 300px !important;
	border-radius: 5px !important;
	color: white !important;
	background: #48BBFC !important;
	margin: 0 auto;
	border: none;
	align-self: center;
	cursor: pointer !important;
}

div#navbar {
	padding-top: 10px;
}

ul.navbar-nav {
	height: 66px !important;
}

li.nav-item {
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar {
	box-sizing: border-box !important;
	padding: 0 16px !important;
}

form.home-signup-form {
	height: 111px;
	width: 905px;
}

input.home-signup-email,
span.home-signup-email,
a.home-signup-email-btn {
	height: 80px;
	font-size: 18px;
}

span.home-signup-email {
	width: 91px;
	padding: 0px !important;
	justify-content: center;
	font-size: 35px;
}

a.home-signup-email-btn {
	font-size: 28px !important;	
	display: flex;
	justify-content: center;
	align-items: center;
}

a.home-signup-email-btn>p {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}
